<% const d = new Date()
let year = d.getFullYear() %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
<footer>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
</footer>