<hi><%- messages() %></hi>
<div id="management">
    <a title="Click to add a classification." href="/account/classification">Add a Classification!</a>
    <a title="Click to add inventory." href="account/inventory">Add inventory!</a>
  </div>
